<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>French Toast</title>
</head>
<body>
    <img src="{{ url_for('static', filename='eggs.jpg')}}" alt="Omelette">
    <p> This might be the best Omelette in the world, but due to legal reasons, were not allowed to say that.</p>
    <a href="/"><button>Home</button></a>
    <a href="/breakfast/{{ breakfast_choice }}"><button>Back</button></a>
</body>
</body>
</html>