<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breakfast Options:</title>
</head>
<body>
    <h1>Here are our breakfast options:</h1>
    <a href="/breakfast/{{ item }}/breakfast_choice1"><img src="{{ url_for('static', filename='frenchToast.jpg') }}" alt = "French Toast"></a>
    <a href="/breakfast/{{ item }}/breakfast_choice2"><img src="{{ url_for('static', filename='eggs.jpg')}}" alt = "Omelette"></a>
    <a href="/"><button>Home</button></a>
    <a href="/"><button>Back</button></a>
    
</body>
</html>