<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinner options:</title>
</head>
<body>
    <h1>Here are our Dinner options:</h1>
    <a href="/dinner/{{ item }}/dinner_choice1"><img src="{{ url_for('static', filename='hotDog.jpg')}}" alt="Hot Dog"></a>
    <a href="/dinner/{{ item }}/dinner_choice2"><img src="{{ url_for('static', filename='pizza.jpg')}}" alt="Pizza"></a>
    <a href="/"><button>Home</button></a>
    <a href="/"><button>Back</button></a>
</body>
</html>